---
http_interactions:
- request:
    method: get
    uri: https://api.olamaps.io/places/v1/autocomplete?input=kempe
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Correlation-Id:
      - "<X_CORRELATION_ID>"
      Authorization:
      - Bearer fake_token
      Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Www-Authenticate:
      - Key realm="kong"
      Akamai-Grn:
      - 0.36367c68.1720892050.5acf2834
    body:
      encoding: UTF-8
      string: |-
        {
          "message":"Unauthorized"
        }
  recorded_at: Sat, 13 Jul 2024 17:34:10 GMT
- request:
    method: get
    uri: https://api.olamaps.io/places/v1/autocomplete?api_key=<API_KEY>&input=kempe
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Correlation-Id:
      - "<X_CORRELATION_ID>"
      Authorization:
      - Bearer fake_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '500000'
      X-Ratelimit-Remaining-Month:
      - '499997'
      X-Ratelimit-Limit-Month:
      - '500000'
      Ratelimit-Reset:
      - '1489103'
      Ratelimit-Remaining:
      - '499997'
      Akamai-Grn:
      - 0.3e961160.1720894897.ebcd74c
    body:
      encoding: UTF-8
      string: '{"error_message":"","info_messages":[],"predictions":[{"reference":"a1e99e3bd07b545284643f7bde183120","types":["route"],"matched_substrings":[{"offset":12,"length":5},{"offset":47,"length":5}],"terms":[{"offset":0,"value":"Nada
        Prabhu Kempe Gowda Main Road"},{"offset":35,"value":"Nada Prabhu Kempe Gowda
        Main Rd"},{"offset":68,"value":"Mariyannapalya"},{"offset":84,"value":"Hebbal
        Kempapura"},{"offset":102,"value":"Bengaluru"},{"offset":113,"value":"Karnataka"},{"offset":124,"value":"560024"},{"offset":132,"value":"India"}],"distance_meters":13357,"structured_formatting":{"main_text_matched_substrings":[{"offset":12,"length":5}],"secondary_text_matched_substrings":[{"offset":12,"length":5}],"secondary_text":"Nada
        Prabhu Kempe Gowda Main Rd, Mariyannapalya, Hebbal Kempapura, Bengaluru, Karnataka,
        560024, India","main_text":"Nada Prabhu Kempe Gowda Main Road"},"description":"Nada
        Prabhu Kempe Gowda Main Road, Nada Prabhu Kempe Gowda Main Rd, Mariyannapalya,
        Hebbal Kempapura, Bengaluru, Karnataka, 560024, India","geometry":{"location":{"lng":77.61194,"lat":13.05155}},"place_id":"ola-platform:a1e99e3bd07b545284643f7bde183120","layer":["venue"]},{"reference":"617f8e0a5d3379eff5e964a90ab33765","types":["point_of_interest","establishment"],"matched_substrings":[{"offset":0,"length":5},{"offset":67,"length":5}],"terms":[{"offset":0,"value":"Kempe
        Gowda Metro Station Bangalore"},{"offset":37,"value":"Bus Station 02"},{"offset":53,"value":"Tank
        Bund Rd"},{"offset":67,"value":"Kempegowda"},{"offset":79,"value":"Majestic"},{"offset":89,"value":"Bengaluru"},{"offset":100,"value":"Karnataka"},{"offset":111,"value":"560[...]
