---
http_interactions:
- request:
    method: get
    uri: https://api.olamaps.io/places/v1/reverse-geocode?latlng=12.931316595874005,77.61649243443775
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Correlation-Id:
      - "<X_CORRELATION_ID>"
      Authorization:
      - Bearer fake_token
      Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Www-Authenticate:
      - Key realm="kong"
      Akamai-Grn:
      - 0.36367c68.1720892051.5acf2bc8
    body:
      encoding: UTF-8
      string: |-
        {
          "message":"Unauthorized"
        }
  recorded_at: Sat, 13 Jul 2024 17:34:11 GMT
- request:
    method: get
    uri: https://api.olamaps.io/places/v1/reverse-geocode?api_key=<API_KEY>&latlng=12.931316595874005,77.61649243443775
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Correlation-Id:
      - "<X_CORRELATION_ID>"
      Authorization:
      - Bearer fake_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '500000'
      X-Ratelimit-Remaining-Month:
      - '499999'
      X-Ratelimit-Limit-Month:
      - '500000'
      Ratelimit-Reset:
      - '1489102'
      Ratelimit-Remaining:
      - '499999'
      Akamai-Grn:
      - 0.3e961160.1720894898.ebcd97d
    body:
      encoding: UTF-8
      string: '{"error_message":"","info_messages":[],"results":[{"formatted_address":"2,
        Hosur Rd, Koramangala Industrial Layout, Koramangala, Bengaluru, Karnataka,
        560095, India","types":[],"name":"2, Hosur Rd","geometry":{"viewport":{"southwest":{"lng":77.61518963363605,"lat":12.930062358602232},"northeast":{"lng":77.61777036636394,"lat":12.932577641397767}},"location":{"lng":77.61648,"lat":12.93132},"location_type":"approximate"},"address_components":[{"types":["country"],"short_name":"India","long_name":"India"},{"types":["administrative_area_level_1"],"short_name":"KARNATAKA","long_name":"KARNATAKA"},{"types":["administrative_area_level_2"],"short_name":"Bangalore","long_name":"Bangalore"},{"types":["administrative_area_level_3"],"short_name":"Bengaluru
        South","long_name":"Bengaluru South"},{"types":["locality"],"short_name":"Bengaluru","long_name":"Bengaluru"},{"types":["sublocality"],"short_name":"Koramangala","long_name":"Koramangala"},{"types":["neighborhood"],"short_name":"Koramangala
        Industrial Layout","long_name":"Koramangala Industrial Layout"},{"types":["postal_code"],"short_name":"560095","long_name":"560095"}],"plus_code":{"compound_code":"NA","global_code":"NA"},"place_id":"ola-platform:89ea4b400c0dd7a73137226759c1e3d2","layer":["venue"]},{"formatted_address":"Veerabhadra
        Realtors, Prestige Star Tech A-Block, Koramangala Industrial Layout, Koramangala,
        Bengaluru, Karnataka, 560095, India","types":[],"name":"Veerabhadra Realtors","geometry":{"viewport":{"southwest":{"lng":77.61517963368777,"lat":12.930052358602232},"northeast":{"lng":77.61776036631224,"lat":12.932567641397767}},"location":{"lng":77.61647,"lat":12.93131},"location_type":"approximate"},"address_components":[{"types":["country"],"short_name[...]
